[project]
name = "{{ project_name.title() }}"
version = "0.1.0"
description = "Add a short description here"
authors = ["{{ author }} <{{ author_email }}>"]
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64"]

[system-requirements]
# Minimum linux version for this project to work.
# This is necessary of some HPC setups, which run on e.g. Rocky Linux 8.
linux="4.18"

[tasks]
source_status = { cmd = 'echo "Found $(git status --porcelain source | wc -l) untracked changes in ./source." && exit $(git status --porcelain source | wc -m)'}
log_commit = {cmd = 'echo "[$(date -Iseconds)][Executing] $TASK [Git-Commit] $(git rev-parse --verify HEAD)" >> $WD/githash.log', env = {TASK = ""}}
build_config = { cmd = "mkdir -p $WD ; TASK=BUILD_CONFIG pixi run log_commit ; cd $WD ; echo 'Implementation Missing.'", env = { WD = "runs/example"}, depends_on=["source_status"]}

[dependencies]
python = "3.12"

[feature.docs.dependencies]
mkdocs-material = ">=9.5.18,<9.6"
mkdocs-git-committers-plugin-2 = ">=2.3.0,<2.4"
mkdocstrings = ">=0.24.3,<0.25"
mkdocstrings-python = ">=1.9.2,<1.10"
mkdocs = ">=1.5.3,<1.6"
mkdocs-git-revision-date-localized-plugin = ">=1.2.4,<1.3"

[feature.docs.tasks]
clean_docs = "rm -rf site"
build_docs = { cmd ="OFFLINE=TRUE mkdocs build", depends_on=["clean_docs"] }
show_docs = "mkdocs serve"

[feature.dev.dependencies]
pre-commit = ">=3.1.1,<3.8"

[feature.dev.tasks]
install_hooks = "pre-commit install"
lint = { cmd="pre-commit run --all-files", depends_on=["install_hooks"] }

[feature.nextflow.target.linux-64.dependencies]
nextflow = ">=23.10.1,<23.11"

[feature.jupyter.dependencies]
jupyter = ">=1.0.0,<1.1"

[feature.jupyter.tasks]
jupyter = "jupyter lab"

[feature.nbdev.dependencies]
nbdev = ">=2.2.10,<2.3"

[feature.nbdev.tasks]
clean = "nbdev_clean --clear_all"

[environments]
docs = ["docs"]
dev = ["dev"]
nextflow = ["nextflow"]
jupyter = ["jupyter"]
nbdev = {features=["nbdev"], no-default-feature = true}
