name: {{project_name.lower().replace(' ', '-')}}
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pydantic=1.10.13
  - pyyaml
  - scikit-image
  - numpy<1.25
  - tifffile
  - pandas
  - aicsimageio[all]
  - bioformats_jar
  - matplotlib
  - tqdm
  - iprogress
  - ipywidgets
  - questionary
  - jupyter
  - stackview
  - mkdocs
  - mkdocs-material
  - mkdocs-git-revision-date-localized-plugin
  - mkdocs-git-committers-plugin-2
  - mkdocstrings
  - mkdocstrings-python
  - pre-commit
